.flex-container {
    display: flex;
    flex-direction: row;
}

.content-data {
    padding: 20px;
}

#Nav a{
    color: #f2f2f2;
    text-decoration:none;
}

#Nav a:hover {
   color: red;
   text-decoration: underline;
}